@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --project-main-color: #00d7e7;
  --project-main-color-soft: #8ddfe3;
  --project-main-color-mute: #00727a;

  --project-secondary-color: #bf7af0;
  --project-secondary-color-soft: #ca97ef;
  --project-secondary-color-mute: #d3b8e9;

  --project-bg-main-color: #000000;
  --project-bg-secondary-color: #1a1a1a;
  --project-bg-tertiary-color: #2a2a2a;
  --project-bg-hover-color: rgba(255, 255, 255, 0.1);
  --project-bg-disable-color: rgba(255, 255, 255, 0.09);

  --project-border-color: rgba(255, 255, 255, 0.14);

  --project-text-color: #ededed;
  --project-text-color-darker: #a1a1a1;
  --project-text-color-inverted: #000000;

  --project-error-color: #eb4848;
  --project-error-color-soft: #e78b8b;

  --project-important-color: #eb4848;
  --project-important-color-soft: #e78b8b;
  --project-important-color-mute: #972424;

  --project-rating-color: #fffb00;
  --project-rating-color-mute: #ffd000;

  --project-font: 'Roboto', sans-serif;
  --project-logo-font: 'Pacifico', cursive;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px inset var(--project-bg-main-color) !important;
  -webkit-text-fill-color: var(--project-text-color) !important;
  caret-color: var(--project-text-color);
}

* {
  scrollbar-color: var(--project-bg-secondary-color) var(--project-bg-main-color);
}

*::-webkit-scrollbar-track {
  background: var(--project-bg-secondary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--project-bg-main-color);
}

body {
  font-family: var(--project-font);
  font-weight: 400;
  font-style: normal;
  color: var(--project-text-color);
  background-color: var(--project-bg-main-color);
}

/* input {
  color: var(--project-text-color);
  background-color: var(--project-bg-main-color);
}

input:disabled {
  opacity: 0.3;
  cursor: default;
}

input[type='range'] {
  accent-color: var(--project-main-color);
  cursor: pointer;
}

h1 {
  @apply text-3xl;
} */
