@utility description {
  color: var(--color-pr-text-darker);
}

@utility hint {
  color: var(--color-pr-text-darker);
}

@utility link {
  color: var(--color-pr-main);
  cursor: pointer;
}

@layer components {
  .sidebar {
    grid-area: sidebar;
    @apply sticky top-0;
  }

  .main {
    grid-area: main;
    @apply layout-base layout-content-height min-h-screen;
  }

  .content {
    @apply size-full flex justify-center px-20;
  }

  .footer {
    grid-area: footer;
    @apply border-pr-border bg-pr-bg-secondary;
  }
}
