#root {
  @apply grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar main'
    'sidebar footer';
}

.sidebar {
  grid-area: sidebar;
  @apply sticky top-0;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
