@keyframes app-banner-slide {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0);
  }
}

.app-banner {
  animation: app-banner-slide 0.8s ease-in-out 0.6s both;
  @apply flex gap-7 p-5 border-1 border-pr-border bg-pr-bg-secondary;
}

.app-banner__showcase {
  @apply max-w-44 max-h-96;
}

.app-banner__phone-screen {
  @apply w-full;
}

.app-banner__header {
  @apply text-3xl;
}

.app-banner__content {
  @apply flex flex-col justify-center gap-6 max-w-96 min-w-56 text-center break-words;
}

.app-banner__footer {
  @apply flex justify-center gap-4 flex-wrap;
}

.app-banner__download-image {
  @apply h-10;
}
