@utility clip-play {
  clip-path: polygon(20% 0%, 100% 50%, 20% 100%, 20% 50%);
}

@utility clip-play-first {
  clip-path: polygon(20% 0%, 100% 22%, 100% 78%, 20% 100%);
}

@utility clip-play-second {
  clip-path: polygon(0 22%, 100% 50%, 100% 50%, 0 78%);
}

@utility clip-stop {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@utility screen-reader-only {
  position: absolute;
  inset: 0;
  opacity: 0;
}
