html {
  @apply text-xs sm:text-sm md:text-base;
}

#root {
  @apply grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar main'
    'sidebar footer';
}

.sidebar {
  grid-area: sidebar;
  @apply sticky top-0;
}

.main {
  grid-area: main;
  @apply min-h-screen;
}

.footer {
  grid-area: footer;
}

#root {
  @apply min-h-screen;
}

.main {
  @apply px-5 md:px-20;
}

.content {
  @apply size-full flex justify-center px-20;
}

.footer {
  @apply border-pr-border bg-pr-bg-secondary;
}

.description,
.hint {
  @apply text-pr-text-darker;
}

.link {
  @apply text-pr-main cursor-pointer;
}
