@keyframes authorization-slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.authorization {
  animation: authorization-slide 0.8s ease-in-out 0.6s both;
  @apply w-80 min-w-60 flex flex-col items-center;
}

.authorization__header,
.authorization__main,
.authorization__footer {
  @apply w-full flex justify-center;
}

.authorization__header {
  @apply pb-6;
}

.authorization__footer {
  @apply pt-2;
}
