services:
  app:
    image: ${APP_IMAGE:-}
    command: sh -c 'bun migrate:db && bun dev'
    restart: always
    container_name: backend
    env_file:
      - ${ENV_FILE:-.env}
    ports:
      - "${APP_PORT:-8080}:${APP_PORT:-8080}"
    volumes:
      - ../src:/app/src
      - ../migrations:/app/migrations
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
    expose:
      - "${APP_PORT:-8080}"

  db:
    image: postgres:16-alpine
    env_file:
      - ${ENV_FILE:-.env}
    ports:
      - "${POSTGRES_PORT:-5432}:${POSTGRES_PORT:-5432}"
    expose:
      - "${POSTGRES_PORT:-5432}"
    command: -p "${POSTGRES_PORT:-5432}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -p ${POSTGRES_PORT:-5432} -h ${POSTGRES_HOST}"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "${MINIO_PORT:-9000}:${MINIO_PORT:-9000}"
    expose:
      - "${MINIO_PORT:-9000}"
      - "127.0.0.1:9001:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - ./minio/data:/data

  createbuckets:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add dev http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      /usr/bin/mc rm -r --force dev/${FILE_STORAGE_DEFAULT_BUCKET_NAME};
      /usr/bin/mc mb dev/${FILE_STORAGE_DEFAULT_BUCKET_NAME};
      /usr/bin/mc policy download dev/${FILE_STORAGE_DEFAULT_BUCKET_NAME};
      exit 0;
      "
