:root {
  --project-main-color: #4f46e5;
  --project-main-color-soft: #746de7;
  --project-main-color-mute: #9f9be9;

  --project-secondary-color: #bf7af0;
  --project-secondary-color-soft: #ca97ef;
  --project-secondary-color-mute: #d3b8e9;

  --project-bg-main-color: #ededed;
  --project-bg-secondary-color: #0a0a0a;
  --project-bg-hover-color: rgba(255, 255, 255, 0.09);

  --project-border-color: rgba(255, 255, 255, 0.14);

  --project-text-color: #000000;
  --project-text-color-darker: #a1a1a1;
  --project-text-color-inverted: #ededed;

  --project-error-color: #eb4848;
  --project-error-color-soft: #ecadad;
}

body {
  color: var(--project-text-color);
  background-color: var(--project-bg-main-color);
}

input {
  color: var(--project-text-color);
  background-color: var(--project-bg-main-color);
}
