.input {
  transition: border-color 0.1s ease-out;
}

.slide-enter-active {
  transition: all 0.1s ease-out;
}

.slide-leave-active {
  transition: all 0.1s ease-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(-5px);
  opacity: 0;
}
