name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Make (if needed)
        run: sudo apt-get update && sudo apt-get install -y make

      - name: Install Hurl
        run: VERSION=6.0.0 sudo apt-add-repository -y ppa:lepapareil/hurl && sudo apt install hurl="${VERSION}"*

      - name: Build Docker Image
        run: make build

      - name: Run Unit Tests
        run:  make test-unit

      - name: Run Hurl Tests
        run: make run && make hurl

      - name: Display container logs if tests fail
        if: failure()
        run: make logs
